<!-- Navigation -->

<nav class="navbar navbar-light bg-light p-3">
    <a class="h4 ml-4 navbar-brand font-weight-bold text-secondary" href="{{ route('admin.index') }}">Administratoriaus
        Skydelis</a>
    <p class="col-xs-1 col-md-1 text-center">
        <a class="text-decoration-none text-secondary" href="{{ route('home') }}">
            <i class="fas fa-sign-out-alt h2 float-right"></i>
        </a>
    </p>
    </a>
</nav>
