
    <div class="col-md-4 bg-gradient-light">
        <div class="">
            <h4>Statistika</h4>
            <p>Video statistika</p>
            <p>Mokiniai + informacija</p>
            <p>Apyvarta</p>
            <h4>Video</h4>
            <p>Patalpinti naują video</p>
            <p>Sukurti naują kursą</p>
            <p>Redaguoti esamą kursą</p>
        </div>
    </div>
