<nav class="navbar navbar-dark bg-dark p-0 shadow">
    <a class="navbar-brand text-lg-center" href="{{ route('home') }}">Anglų kalbos kursai</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item">
            <a class="nav-link" href="#">Atsijungti</a>
        </li>
    </ul>
</nav>
