<nav class="navbar navbar-light bg-light border-right">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ route('course.courses') }}">Video pamokos <span class="sr-only">(current)</span></a>
                <ul>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">-Lygis 1 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">-Lygis 2</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Asmeninė informacija</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Naujienos</a>
            </li>
        </ul>
    </div>
</nav>
