{% extends "template.php.twig" %}

{% block content %}
    <!-- Navigation -->

    <div>
        {{ include('components/topNavbar.html.twig') }}
    </div>

    <!-- Content -->

    <div class="container-fluid border bg-light p-3">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-sm-2">
                <div>
                    {{ include('components/userNavbar.html.twig') }}
                </div>
            </div>
            <!-- Main -->
            <div class="col-sm-9">
                <div class="display-4">Welcome</div>
            </div>
        </div>
    </div>

{% endblock %}
