{% extends "template.php.twig" %}

{% block content %}
    <div class="container mb-3">
        <!-- Navigation -->
        <div>
            {{ include('components/navbar.html.twig') }}
        </div>
    </div>

{% endblock %}
