<div class="popup" data-popup="popup-1">
    <div class="popup-inner">
        <form class="popup-form" method="post">
            <div id="login-popup-email">
                <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
                <input type="email" name="email" placeholder="El. Paštas">
            </div>
            <div id="login-popup-password">
                <i class="fa fa-unlock-alt fa-2x" aria-hidden="true"></i>
                <input type="password" name="password" placeholder="Slaptazodis">
            </div>
            <button id="login-popup-button" type="submit">Jungtis</button>
        </form>
        <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
    </div>
</div>
