/* IDE */
.idea

/* Composer */
vendor

/* Node */
node_modules
package-lock.json

/* App */
config/database.php
config/config.php
config/paysera.php
public/css
public/js
resources/uploads/*
!resources/uploads/.gitkeep
