{% extends "template.php.twig" %}

{% block content %}

    <!-- Top Navigation -->

    {{ include('components/adminTopNavbar.html.twig') }}

    <div class="container-fluid pt-3">

        <div class="row">
            <!-- Side navigation  -->

            {{ include('components/adminSideBarNav.html.twig') }}


            <!-- Content -->

            <div class="col">
                <div class="row">
                    <a class="display-4 text-center text-decoration-none" href="https://www.youtube.com/"><i
                                class="fab fa-youtube"></i><br>Įkelti naują video klipą per YouTube </i> platformą</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
