{% extends "templateAdmin.php.twig" %}

{% block content %}
    <div class="col">
        <div class="row">
            <a class="display-4 text-center text-decoration-none" href="https://www.youtube.com/"><i
                        class="fab fa-youtube"></i><br>Įkelti naują video klipą per YouTube </i> platformą</a>
        </div>
    </div>
{% endblock %}
