{% extends "template.php.twig" %}

{% block content %}
    <!-- Navigation -->

    <div>
        {{ include('components/topNavbar.html.twig') }}
    </div>

    <!-- Content -->

    <div class="container-fluid border bg-light p-3">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-sm-2">
                <div>
                    {{ include('components/userNavbar.html.twig') }}
                </div>
            </div>
            <!-- Main -->
            <div class="col-sm-9">
                <div>
                    <h1 class="text-center mb-5">Anglų kalbos kursai: ->Lygis x<-</h1>
                </div>
                <div class="row">
                    <div class="col-md-4">

                        <div class="thumbnail">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v64KOxKVLVg"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="text-center">
                                <p>Pamoka Nr. 1</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="text-center mb-5">
                                <p>Pamoka Nr. 2</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wTcNtgA6gHs"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="text-center">
                                <p>Pamoka Nr. 3</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vlDzYIIOYmM"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="text-center">
                                <p>Pamoka Nr. 4</p>
                            </div>
                            <button class="btn btn-dark mx-auto" onclick="history.go(-1);"> &#8592; Grįžti</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
