{% extends "template.php.twig" %}

{% block content %}

<!-- Navigation -->

<div>
    {{ include('components/topNavbar.html.twig') }}
</div>

<!-- Content -->

<div class="container-fluid border bg-light p-3">
    <div class="row">

        <!-- Sidebar -->

        <div class="col-sm-2">
            <div>
                {{ include('components/userNavbar.html.twig') }}
            </div>
        </div>

        <!-- Main -->

        <div class="col-sm-9">
            <div>
                <h1 class="text-center mb-3 pb-3 border-bottom border-dark">Anglų kalbos kursai: </h1>
            </div>
            <div class="row mx-auto">

                {% for lecture in lectures %}
                    <div class="col-md-4 pb-3">
                        <div class="thumbnail text-center border pt-2 shadow">
                            <div class="embed-responsive embed-responsive-16by9 border">
                                <iframe class="embed-responsive-item" src="{{ lecture.videoURL }}"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="text-center pt-3">
                                <p>Pamoka sukurta:<br>
                                    <b>{{ lecture.createdOn|date("Y/m/d") }}</b></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="pl-3">
                <button class="btn btn-dark" onclick="history.go(-1);"> &#8592; Grįžti</button>
            </div>
{% endblock %}
